<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.newneek.j1.util.Pager" alias="Pager"/>
		<typeAlias type="com.newneek.j1.util.C_Pager" alias="C_Pager"/>
		
		<typeAlias type="com.newneek.j1.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.newneek.j1.news.NewsVO" alias="NewsVO"/>
		<typeAlias type="com.newneek.j1.news.file.NewsFilesVO" alias="NewsFilesVO"/>
		<typeAlias type="com.newneek.j1.news.NewsOneVO" alias="NewsOneVO"/>
		<typeAlias type="com.newneek.j1.category.CategoryVO" alias="CategoryVO"/>
		<typeAlias type="com.newneek.j1.help.HelpVO" alias="HelpVO"/>
		<typeAlias type="com.newneek.j1.like.LikeVO" alias="LikeVO"/>
	</typeAliases>  
</configuration>