* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Spoqa Han Sans', sans-serif; 
}

/* reset css */
a {
	color: inherit;
	text-decoration: none;
}

button,
input,
textarea {
	font-family: 'Spoqa Han Sans', sans-serif; 
	font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:actice,
textarea:focus,
textarea:active {
	outline: none;
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

section {
	background: #ebebeb;
}

p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
}

/* header */
.header-top {
	margin-top: 10px;
	height: 16px;
	background: linear-gradient(-45deg,#ebebeb 11px,transparent 0),linear-gradient(45deg,#ebebeb 11px,transparent 0);
	background-size: 16px 16px;
    background-repeat: repeat-x;
}

header {
	background: #ebebeb;
	height: 125px;
	display: flex;
	align-content: center;
	align-items: center;
	border-bottom: 1px #000 solid;
}

.header-contents {
	width: 80%;
	height: 45px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.header-nav {
	display: flex;
}

.header-nav li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border: 1px #000 solid;
}

.dropdown-item {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.01em;
	margin: 5px 0;
	color: #000;
	text-align: right;
}

.icon {
	font-size: 20px;
	padding: 0;
}

.logo {
	width: 180px;
}

/* mail service */
.head-title {
	font-size: 34px;
	font-weight: 700;
    letter-spacing: -0.04em;
    text-align: center;
    padding: 14px 0px;
    margin: 0;
    border-bottom: 1px #000 solid;
    background: #ebebeb;
}

.subscribe {
	display: flex;
	flex-direction: column;	
	flex-wrap: wrap;
}

.subscribe-items {
	width: 400px;
	padding: 11px 40px 12px 1.5rem;
	margin-bottom: 10px;
}

.subscribe-chk {
	margin: 5px 0 10px 0;
}

.subscribe-chk a {
	font-size: 14px;
	font-weight: 500;
}

.service {
	background: #fb7800;
	height: 390px;
	overflow: hidden;
}

.mail-service {
	margin-top: 25px;
} 

.mail-service p {
	font-size: 15px;
	font-weight: 600;
	line-height: 2;
	letter-spacing: -0.02em;
}

.subscribe-chk a{
	text-decoration: none;
}

.subscribe-btn {
	width: 190px;
	height: 50px;
	background: #161616;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.02em;
}

.intro {
	display: flex;
	justify-content: space-between;
}

.intro-gosum img {
	width: 480px;
}

/*news nav*/
.news-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin: 0;
}

.news-link {
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
	padding: 17.5px 0px;
	margin: 0px 14px
}
/* main news */
.posts {
	display: flex;
	flex-wrap: wrap;
	height: 345px;
}

.card {
	display: block;
	width: 33.3333%;
	height: auto !important;
	border: 1px #000 solid;
}

/* footer */
footer {
	display: flex;
	justify-content: space-evenly;
	background: #ebebeb;
	border-top: 1px #000 solid;
	padding: 30px 0;
}

#ft_util p{
	float: left;
	padding-right: 8px;
    margin-right: 7px;
    letter-spacing: -0.4px;
    font-size: 0.8rem;
    
}

.footer-left h2{
	margin-top: 15px;
	font-size: 14px;
	font-weight: 600;
	line-height: 2;
}

/* member profile */

.member-profile {
	padding: 50px 0;
}

.profile-title {
	margin-bottom: 30px;
}

.profile-title h1 {
	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;
}


.profile-info h2 {
	font-size: 17px;
	font-weight: 700;
	padding-bottom: 18px;
	border-bottom: 1px #000 solid;
}

.setting-row, 
.profile-row {
	display: flex;
	align-items: center;
	padding: 15px 0;
	
} 

.info-head {
	display: flex;
	align-items:center;
	padding: 15px 0;
}

.info-head p
{
	font-size: 14px;
	margin: 0 10px 0 0;
}

.setting-row label,
.profile-row h3,
.mail-form h3,
.mail-form label,
.info-row h3{
	font-size: 14px;
  	font-weight: 700;
	width: 100px;
	margin: 0;
}


.profile-info {
	border-bottom: 1px #000 solid;
	margin-bottom: 40px;
}

.profile-form input,
.profile-form select,
.password-form input
 {
  display: block;
  width: 350px;
  height: 30px;
  padding: 0 12px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #d3dce6;
  background: #ebebeb;
  transition: border-color 200ms ease-in-out;
}

.text{
	margin-top: 5px;
}

.mail-form {
	display: flex;
	align-items: center;
	align-content: center;
}

.info-btn,
.pw-btn,
.email-btn {
	text-align:right;
	font-size: 14px;
	background: #000;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 5px;
}

.setting-foot {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.setting-foot p{
	font-size: 14px;
	text-decoration: underline;
	font-weight: 700;
}

.setting-foot button {
	width: 350px;
	height: 40px;
	background: #fff;
	font-size: 14px;
	letter-spacing: -0.02em;
}

.setting-foot button:hover {
	background: #fb7800;
}

/* password */
.show {
	display: block;
}

.hide {
	display: none;
}

.profile-row p{
	margin: 0;
	font-size: 14px;
}


.fa-pen-alt{
	font-size: 20px;
	float: right;
}

.password-form input {
	margin-bottom: 5px;
}


/* Login Page*/
#JoinForm {
	padding: 0 6%;
   	max-width: 670px;
   	min-height: 100vh;
   	margin: 0 auto;
}

#LoginForm {
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  align-content: center;
}

#login_logo {
	display: block;
	width: 300px;
	margin: 20px auto;
}

#login p {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

#LoginForm input {
  display: block;
  width: 500px;
  height: 55px;
  padding: 0 12px;
  border-radius: 7px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
}

#LoginBtn {
	width: 100%;
	height: 60px;
	background-color: black;
	color: white;
	font-weight: 600;
	font-size: 1.05em;
}

