<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
	<mapper namespace="com.newneek.j1.like.LikeMapper">
	
		<insert id="setInsert" parameterType="LikeVO" useGeneratedKeys="true" keyProperty="num">
			insert into likes (num, email, newsNum)
			values (#{num}, #{email}, #{newsNum})
		</insert>
		
		<select id="getCount" resultType="int">
			select count(*) from likes where email = #{email} and newsNum = #{newsNum}
		</select>
		
		<select id="getOne" parameterType="LikeVO" resultType="LikeVO">
			select * from likes where email = #{email} and newsNum = #{newsNum}
		</select>
		
	
		<delete id="setDelete" parameterType="LikeVO">
			delete from likes where num = #{num}
		</delete>
		
		<select id="getAllCount" resultType="int" parameterType="LikeVO">
			select count(*) from likes where newsNum = #{newsNum}
		</select>
		
		<select id="getLikeList" resultType="LikeVO" resultMap="LikeList">
    		select A.*, N.* from (select l.* from likes l left join member m using (email)) A
			inner join news N 
			on N.num = A.newsNum where A.email = #{email}
			order by A.num desc
    	</select>
    	
    	<resultMap type="LikeVO" id="LikeList">
    		<result column="num" property="num"/>
    		<result column="email" property="email"/>
    		<result column="newsNum" property="newsNum"/>
    		
         <association property="newsVO" javaType="NewsVO" resultMap="news">
         </association>
		</resultMap>
		
		<resultMap type="NewsVO" id="news">
    		<result column="num" property="num"/>
    		<result column="newsId" property="newsId"/>
    		<result column="title" property="title"/>
    		<result column="writer" property="writer"/>
    		<result column="contents" property="contents"/>
    		<result column="regDate" property="regDate"/>
    		<result column="hit" property="hit"/>
		</resultMap>
		
	
    	
	</mapper> 