<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    <mapper namespace="com.newneek.j1.member.MemberMapper">
    
    	<insert id="setMemberJoin" parameterType="MemberVO">
    		insert into member (email, pw, name, mailCheck)
    		values (#{email}, #{pw}, #{name}, 0)
    	</insert>
    	
    	<insert id="setMemberSub" parameterType="MemberVO">
    		insert into member(email, name, mailCheck)
    		values (#{email}, #{name}, 1)
    	</insert>
    	
    	<select id="emailCheck" parameterType="MemberVO" resultType="MemberVO">
    		select email from member where email=#{email}
    	</select>
    	
    	<update id="setMemberUpdate" parameterType="MemberVO">
    		update member set pw=#{pw}, name=#{name}, mailCheck=#{mailCheck} 
    		where email=#{email}
    	</update>
    	
    	<select id="getMemberCount" parameterType="Pager" resultType="Long">
    		select count(email) from member
    	</select>
    	
    	<select id="getMemberLogin" parameterType="MemberVO" resultType="MemberVO">
    		select * from member where email=#{email} and pw=#{pw}
    	</select>
    	
    	<update id="setMemberInfo" parameterType="MemberVO">
    		update member set name=#{name}, birthYear=#{birthYear}, gender=#{gender}, mailCheck=#{mailCheck}, zipCode=#{zipCode},
    		address=#{address}, detailAddress=#{detailAddress}, extraAddress=#{extraAddress} where email=#{email}
    	</update>
    	
    	<update id="setMemberPw" parameterType="MemberVO">
    		update member set pw=#{pw} where email=#{email}
    	</update>
    
    	<delete id="setMemberDelete" parameterType="MemberVO">
    		delete from member where email = #{email}
    	</delete>
    	
    	
    	<!-- **************** Admin **************** -->
    	
    	<select id="admin_getMemberList" parameterType="Pager" resultType="MemberVO">
    		select * from member where not email='admin@newneek.com' 
    		order by name asc
			limit #{startRow}, #{perPage}    		
    	</select>
    </mapper>