<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.newneek.j1.news.NewsMapper">
    	
    	<select id="newsCount" parameterType="NewsVO" resultType="long">
    		select count(num) from news
    	</select>
    
    </mapper>