<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.newneek.j1.news.NewsMapper">
    
    	<sql id="getSearch">
    		<choose>
    			<when test="kind=='newsId'">
    				newsId
    			</when>
    			
    			<when test="kind=='title'">
    				title
    			</when>
    			
				<otherwise>
					contents
				</otherwise>
    		</choose>
    	</sql>
    	
    	<select id="getNewsCount" parameterType="Pager" resultType="Long">
    		select count(num) from news
    	</select>
    	
    	<!-- **************** Admin **************** -->
    	
    	<select id="admin_getNewsList" parameterType="Pager" resultMap="admin_NewsList">
            select N.*, C.category_emoji, C.category_name 
    		from news N
    		left join category C
    		on N.newsId = C.category_id
    		order by N.num desc
			limit #{startRow}, #{perPage}	
    	</select>
    	

    	<resultMap type="NewsVO" id="admin_NewsList">
    		<result column="num" property="num"/>
    		<result column="newsId" property="newsId"/>
    		<result column="title" property="title"/>
    		<result column="writer" property="writer"/>
    		<result column="contents" property="contents"/>
    		<result column="regDate" property="regDate"/>
    		<result column="hit" property="hit"/>
    		
    		<association property="categoryVO" javaType="CategoryVO" resultMap="category">
    		</association>
		</resultMap>
	
	<resultMap type="CategoryVO" id="category">
			<id column="category_id" property="category_id"/>
    		<result column="category_emoji" property="category_emoji"/>
    		<result column="category_name" property="category_name"/>
	</resultMap>
	
	
	<select id="admin_getNewsOne" parameterType="NewsOneVO" resultType="NewsOneVO" resultMap="admin_NewsSelect">
		select N.*, NF.*, C.category_name from
		news N left join newsFiles NF
		on N.num = NF.num
        left join category C
        on N.newsId = C.category_id
		where N.num = #{num}
	</select>
	
	    <resultMap type="NewsOneVO" id="admin_NewsSelect">
    		<result column="num" property="num"/>
    		<result column="newsId" property="newsId"/>
    		<result column="title" property="title"/>
    		<result column="writer" property="writer"/>
    		<result column="contents" property="contents"/>
    		<result column="regDate" property="regDate"/>
    		<result column="hit" property="hit"/>
    		<result column="category_name" property="category_name"/>
    		
         <collection property="newsFilesVO" ofType="newsFilesVO" javaType="java.util.List">
            <id column="fnum" property="fnum"/>
            <result column="fileName" property="fileName"/>
            <result column="oriName" property="oriName"/>
         </collection>
		</resultMap>
	
	
	<insert id="admin_setNewsInsert" parameterType="NewsVO" useGeneratedKeys="true" keyProperty="num">
		insert into news (num, newsId, title, writer, contents, regDate, hit)
        values (#{num}, #{newsId}, #{title}, #{writer}, #{contents}, sysdate(), 0)
	</insert>
	
	<update id="admin_setNewsUpdate" parameterType="NewsVO">
		update news set newsId=#{newsId}, title=#{title}, contents=#{contents}
		where num=#{num} 
	</update>
	
	<delete id="admin_setNewsDelete" parameterType="NewsVO">
		delete from news where num=#{num}
	</delete>
	
	
    <!-- **********************file********************** -->
    	
    <insert id="setInsertFile" parameterType="NewsFilesVO">
    	insert into newsFiles (num, fileName, oriName) 
    	values (#{num}, #{fileName}, #{oriName})
    </insert>
    	
    <select id="getFile" parameterType="NewsVO" resultType="NewsFilesVO">
    	select * from newsFiles where num=#{num}
    </select>
    
    <select id="getFileOne" parameterType="NewsFilesVO" resultType="NewsFilesVO">
    	select * from newsFiles where fnum=#{fnum}
    </select>
    
    
    <delete id="setDeleteFile" parameterType="NewsFilesVO">
    	delete from newsFiles where fileName=#{fileName}
    </delete>
    
    <!-- ********************* mail ************************ -->	
    <select id="getNewsEmailList" parameterType="NewsVO" resultType="NewsVO">
    	select * from news where date(regDate) between date(sysdate())-1 and date(sysdate())+1
    </select>
    
    </mapper>
    
    